.bg-pictur{
	background-image: url('../img/background6.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.about{
	font-family: 'Fira Sans', sans-serif;
	color: #000;
}

.about span{
	color: #e20a16;
	font-weight: bold;
}

.about span:hover{
	color: #f39da2;
	cursor: pointer;
}